<div class="alert alert-block" ng-style="::$ctrl.colors">
    <div>
        <i ng-if="::$ctrl.entry.dataDetails" ng-click="$ctrl.toggleDisplay()" ng-class="showAll ? 'fa-minus-square-o' : 'fa-plus-square-o'" class="fa"></i>
        <span>{{::$ctrl.entry.header}}</span>
    </div>
    <div ng-show="showAll">
        <div style="padding-left: 10px" ng-repeat="value in ::$ctrl.entry.dataDetails">{{::value}}</div>
    </div>
</div>
