<!--suppress CssUnusedSymbol -->
<style>
    #scroller {
        padding-bottom: 5px;
        margin-left: -15px;
        background-color: white;
    }

    .scroller-fixed {
        position: fixed;
        top: 50px;
        padding-top: 25px;
    }

    .scroller-relative {
        position: relative;
        padding-top: 15px;
    }

    /*noinspection CssInvalidHtmlTagReference*/
    bitcraft-server-log-entry {
        word-wrap: break-word;
    }

    .alert {
        margin-bottom: 1px ! important;
    }
</style>

<div class="container-fluid" id="scroller-width">
    <div id="scroller-anchor"></div>
    <div id="scroller" class="scroller-relative">
        <div translate="SERVER_LOG.STATE" translate-values="{ state: '{{$ctrl.state}}' }"  ng-if="$ctrl.options.showStatus"></div>

        <div class="form-inline">
            <div class="form-group">
                <div class="form-group" ng-if="$ctrl.options.showClearMessages">
                    <a class="form-control btn btn-default" type="button" ng-click="$ctrl.clear()" translate>SERVER_LOG.CLEAR</a>
                </div>

                <div class="form-group" data-toggle="buttons"  ng-if="$ctrl.options.showAutoScroll">
                    <label ng-click="$ctrl.toggleScroll()" class="form-control btn btn-default">
                        <input type="checkbox" autocomplete="off"><span translate>SERVER_LOG.AUTO_SCROLL</span>
                    </label>
                </div>

                <div class="form-group" ng-if="$ctrl.options.showLevels">
                    <div class="btn-group" data-toggle="buttons">
                        <label ng-click="$ctrl.toggleLevel(level)" class="btn btn-default active" ng-repeat="(level, ignore) in $ctrl.options.levels">
                            <input type="checkbox" checked autocomplete="off"><span translate>{{level}}</span>
                        </label>
                    </div>
                </div>

                <div class="form-group" ng-if="$ctrl.options.showSearch">
                    <input class="form-control" type="text" placeholder="search" ng-change="$ctrl.search()" ng-model="$ctrl.searchInput">
                </div>

                <div class="form-group" ng-if="$ctrl.options.showCustomFilter">
                    <textarea class="form-control" rows="1" placeholder="filter" ng-model="$ctrl.filterInput"></textarea>
                </div>

                <div class="form-group" ng-if="$ctrl.options.showCustomFilter">
                    <a class="form-control btn btn-default" type="button" ng-click="$ctrl.applyFilter()" translate>Apply filter</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <bitcraft-server-log-entry repeat-on-last-event="$ctrl.onRepeatDone"
                                   ng-repeat="entry in $ctrl.messages track by entry.id"
                                   entry="entry"
                                   colors="$ctrl.options.levels[entry.level]">
        </bitcraft-server-log-entry>
    </div>
    <!-- this anchor is used by the auto-scroll feature to stick to the last log item -->
    <a name="{{$ctrl.anchorName}}"></a>
</div>
